
<nav class="navbar navbar-expand-lg bg-info navbar-dark">

  <div class="container-fluid">

<a class="navbar-brand" href="#">ATHENA.DEV</a>

<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Desafios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Jogos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Fórum</a>
    </li>



  <li class="nav-item">
    <input class="form-control mr-sm-2" type="search" placeholder="Procure no site" aria-label="Search">
  </li>
    <li class="nav-item">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </li>
  </ul>


</div>
      <ul class="navbar-nav d-flex flex-row me-1">
          <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-white" href="#"><i class="fas fa-envelope mx-1"></i> Contato</a>
          </li>
          <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-white" href="#"><i class="fas fa-cog mx-1"></i> Opções</a>
          </li>
          <li class="nav-item dropdown">
              <a data-mdb-dropdown-init class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false"> <i class="fas fa-user mx-1"></i> Perfil </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                      <a class="dropdown-item" href="#">Minha Conta</a>
                  </li>

                  <li>
                      <a class="dropdown-item" href="#">Log out</a>
                  </li>
              </ul>
          </li>
      </ul>
  </div>

  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
